extends layout
block content
    h1= title
    p heb je vragen voor ons stel ze hier!!
    form(action="")
        input(type="text", autocomplete='off',placeholder='ask your question here!', id="m")
        button(type='submit') send
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="socket.io.js")
    script.
        $(function () {
            var socket = io();
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
        });
