extends layout
block content
    h1= title
    p heb je vragen voor ons stel ze hier!
    ul(id="messages")
    form(action="")
        input(type="text", autocomplete='off',placeholder='ask your question here!', id="m")
        button(type='submit') send
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="./browserMqtt.js")
    script(src="socket.io.js")
    script.
        var client = mqtt.connect("ws://iot.eclipse.org:80/ws") 
        client.subscribe("mqtt/ProjectKK")
        client.on("message",function (topic, payload){
            console.log([topic,payload].join(": "))
            $("#messages").append($('<li>').text("mqtt: "+ payload));
            //client.end()
        });
        $(function () {
            var socket = io();
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            socket.on('chat message', function(msg){
            $('#messages').append($('<li>').text("socketio: "+msg));
            client.publish("mqtt/ProjectKK",msg);
            });
        });
